table,tr,td,th{
    border: 1px solid blue;
    padding: 5px;
    border-collapse: collapse;
}

table{
    width: 100%;
}

.borderRouge{
    border: 2px dashed red;
}

body {
    padding-top: 100 px;
}